* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body {
  background: #001e4d;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  background: #fff;
  width: 100%;
  max-width: 500px;
  margin: 20px;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.app h1 {
  font-size: 24px;
  color: #001e4d;
  font-weight: 600;
  border-bottom: 1px solid #333;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.quiz {
  padding: 20px 0;
}

.quiz h2 {
  font-size: 20px;
  color: #001e4d;
  font-weight: 600;
  margin-bottom: 15px;
}

.btn {
  background: #fff;
  color: #222;
  font-weight: 500;
  width: 100%;
  border: 1px solid #222;
  padding: 15px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  background: #222;
  color: #fff;
}

.btn.correct {
  background-color: #4caf50;
  color: #fff;
  border-color: #4caf50;
}

.btn.wrong {
  background-color: #f44336;
  color: #fff;
  border-color: #f44336;
}

#next-btn {
  background: #001e4d;
  color: #fff;
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  text-align: center;
}

#next-btn:hover {
  background: #003366;
}
